/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*
 * ===================================
 * GRID
 * ===================================
 */
 *
 *:before,
 *:after {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box:

}

.namegroup {
    margin: 0 auto;
    padding-left: 30%;
    padding-right: 30%;
    width: 960px;
    

}

.current{
    margin: 0 auto;
    padding-left: 30%;
    padding-right: 30%;
    width: 50%;

}

.introduction{
    margin: 0 auto;
    padding-left: 2%;
    padding-right: 2%;
    width: 50%;
    border: 2px solid #8CAFF4;
}

.education{
    margin: 0 auto;
    padding-left: 3%;
    padding-right: 3%;
    width: 25%;
    float: right;

}

.experience{
    margin: 0 auto;
    padding-left: 3%;
    padding-right: 3%;
    width: 25%;
    float: left;

}

.technicalskills{
    margin: 0 auto;
    padding-left: 2%;
    padding-right: 2%;
    width: 50%;
    
}

.projects{
    margin: 0 auto;
    padding-left: 2%;
    padding-right: 2%;
    width: 50%;

.footer{
    margin: 0 auto;
    padding-left: 3%;
    padding-right: 3%;
    width: 90%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
    margin-bottom: 0;
    border: 5px solid #8CAFF4;
}


/*
 * =======================================
 * Typography
 * =======================================
 */

h1, h2, h3, h4, h5, h6, h7, h8, p {
    margin-bottom: 3px;    
}

html{
    font-fmaily:'Montserrat', 'Verenda', Arial, sans-serif;
}

.namegroup{
    font-size: 20px;
    font-weigth: 300px;
    text-align: center;
    background-color: grey;

}


.introduction{
    font-size: 20px;
    font-weigth: 300;
    text-align: center;
    background-color:#8CAFF4;
    margin-top: 10px;
    margin-bottom: 10px;
}

.education{
    font-size: 15px;
    font-weigth: 300;
    text-align: center;
    background-color:grey;
    margin-left:5px;
    margin-rigth:0px;
}

.technicalskills{
    font-size: 15px;
    font-weigth: 300;
    text-align: center;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.projects{
    font-size: 15px;
    font-weigth: 300;
    text-align: center;
    background-color: white;

}


.footer{
    font-size: 5px;
    text-align: center;
    font-weigth: 500;
    background-color: grey;
    color: blue;
    text-align: center;
}


/*
 * ======================================
 * Buttons
 * ======================================
 */

.btn {
    border-radius: 3px;
    display: inline-block;
    margin: 0;
}

.btn-alt {
    border: 1px solid #dfe2e5;
    padding: 5px 30px;
}

/*
 * =====================================
 * Home
 * =====================================
 */
 

